footer {
    background-color: black;
}

.footer{
    text-align: center;
    font-size: 1rem;
}

.topfooter{
    color: rgba(255, 255, 255, 0.808);
}

.topfooter:hover{
    color: red;
}

.social-media-icon{
    color: red;
    padding: 1rem;
}

i:hover{
    color: rgba(255, 255, 255, 0.692);
}

.outer-row{
    padding: 2rem 4rem;
}

.mid-footer{
    border-left: 1px solid red;
    border-right: 1px solid red;
}