footer {
    background-color: black;
}

.footer{
    text-align: center;
    font-size: 1rem;
}

.topfooter:hover{
    color: red;
}

.social-media-icon{
    padding: 1rem;
}

i:hover{
    color: red;
}