.maid-info{
    text-align: center;
    display: inline-block;
    color: white;
}

.maid-img{
    text-align: center;
}

.maid-name{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: red;
    text-shadow: 2px 2px 1px black;
}

.maid-name:hover{
    color: white;
}

.maid-icon{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem 1rem;
}
.maid-icon:hover{
    color: rgb(0, 252, 0);
}

.text-align-center{
    text-align: center;
}

.maid-info-field{
    margin: 0.5rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    color: red;
    text-shadow: 1px 1px 1px rgb(88, 13, 13);
}

.book-btn:hover{
    color: white;
    background-color: rgb(0, 180, 0);
}