
body {
  backdrop-filter: blur(4px);
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

